---
import Icon from "./Icon.astro";
---

<footer
  class="w-full mx-auto flex flex-wrap justify-center gap-2 py-4 border-t-[1px] border-t-primary text-primary"
>

  <a
    rel="noreferrer"
    target="_blank"
    href="https://github.com/sommmtoooo"
    title="Github"
  >
  Github
  </a>
<a
    rel="noreferrer"
    target="_blank"
    href="https://mastodon.social/@somtodev"
    title="Mastodon"
  >
  Mastodon
  </a>
<a href="mailto:leroynnalue65@gmail.com" title="Send Me A Mail">
Say Hello
  </a>
  <a
    rel="noreferrer"
    target="_blank"
    href="https://www.linkedin.com/in/sommmtoooo/"
  >
  LinkedIn
  </a>
  <a
    rel="noreferrer"
    target="_blank"
    href="https://www.twitter.com/sommmtoooo/"
  >
  Twitter
  </a>

</footer>
